{% extends 'base/base.html' %}

{% block content %}
<!--::breadcrumb part start::-->
<section class="breadcrumb blog_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Connexion</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::breadcrumb part start::-->

<form method="POST" id="form-foruser">
    {% csrf_token %}
    <div class="form-h">
        Sign In
    </div>
    <div class="form-body">
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Sign in">
    </div>
    <div class="form-f">
        <p>Don’t have an account?</p>
        <a href="#">SIGN UP NOW</a>
    </div>
</form>

{% endblock %}