{% extends 'base/base.html' %}

{% block content %}
<!--::breadcrumb part start::-->
<section class="breadcrumb blog_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Inscription</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::breadcrumb part start::-->

<form method="POST" id="form-foruser" enctype="multipart/form-data" class="form-foruser-2">
    {% csrf_token %}
    <div class="form-h">
        Register
        <br><br>
        <div class="profile">
            <img src="" id="apercu" alt='apercu du profile'>
        </div>
    </div>
    <br>
    <div class="form-body">
        {% for input in form %}
            {{ input }}
        {% endfor %}
        <input type="submit" value="Sign up">
    </div>
    <div class="form-f">
        <p>You have an account?</p>
        <a href="{% url 'login' %}">SIGN IN NOW</a>
    </div>
</form>

{% endblock %}