{% load static %}

   <section class="project_gallery section-padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="project_gallery_tittle">
                  <h2><span>Luxuries</span> Apartment</h2>
               </div>
               <div class="grid">
                  <div class="grid-sizer"></div>

                  {% for apartment in apartments %}
                     <div class="{% cycle 'grid-item big_weight' 'grid-item big_weight' 'grid-item' 'grid-item' %}">
                        <div class="project_img">
                           <img src="{{ apartment.image.url }}" alt="">
                           <div class="project_gallery_hover_text">
                              <p>Home Apartment</p>
                              <h3><a href="{% url 'apartment' %}"> {{ apartment.type_apart }}</a></h3>
                              <ul>
                                 <li><a href=""><span class="flaticon-bath"></span></a> {{ apartment.nombre_salle_bain }}</li>
                                 <li><a href=""><span class="flaticon-bed"></span></a> {{ apartment.nombre_chambre }}</li>
                                 <li><a href=""><span class="flaticon-frame"></span></a> {{ apartment.nombre_fenetre }} sqft</li>
                                 <li><a href=""><span class="ti-heart"></span></a> like</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  {% endfor %}

               </div>
            </div>
         </div>
      </div>
   </section>