{% load static %}

<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">

            <form action="{% url 'search' %}" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search Keyword" name='search'>
                        <div class="input-group-append">
                            <button class="btn" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100" type="submit">Search</button>
            </form>

        </aside>

        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Category</h4>
            <ul class="list cat-list">

                {% for cathegorie in cathegories %}
                    <li>
                        <a href="{% url 'blog' 'cath' cathegorie.id %}" class="d-flex">
                            <p>{{ cathegorie.nom }}</p>
                            &nbsp;
                            <p>({{ cathegorie.cathegorie_Article.all|length }})</p>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </aside>

        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Recent Post</h3>

            {% for recent in articles_recent %}
                <div class="media post_item">
                    <img src="{{ recent.image.url }}" alt="post">
                    <div class="media-body">
                        <a href="{% url 'single' recent.id %}">
                            <h3>{{ recent.titre|truncatechars:21 }}</h3>
                        </a>
                        <p>{{ recent.date_update|date:'F d, Y'|title }}</p>
                    </div>
                </div>
            {% endfor %}

        </aside>

        <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Tag Clouds</h4>
            <ul class="list">

                {% for tag in tags %}
                    <li>
                        <a href="{% url 'blog' 'tag' tag.id %}">{{ tag.nom }}</a>
                    </li>
                {% endfor %}

            </ul>
        </aside>


        <aside class="single_sidebar_widget instagram_feeds">
            <h4 class="widget_title">Instagram Feeds</h4>
            <ul class="instagram_row flex-wrap">

                {% for instagram in instagrams %}
                    <li>
                        <a href="{{ instagram.image.url }}">
                            <img class="img-fluid" src="{{ instagram.image.url }}" alt="">
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </aside>


        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Newsletter</h4>

            <form action="{% url 'newsletter' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <input type="email" class="form-control" name='newsletter' placeholder="Enter email" required>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100" type="submit">Subscribe</button>
            </form>
        </aside>
    </div>
</div>