{% load static %}
{% regroup projects|dictsort:"type_projet.name" by type_projet as project_list %}

    <section class="portfolio_area section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle">
                        <h2><span>our</span> project</h2>
                    </div>
                    <div class="portfolio-filter">
                        <h2>Hello City We are <br>
                            leader in <span>Projects .</span></h2>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            
                            {% for project in project_list %}
                                <li>
                                    {% if forloop.first %}
                                        <a class="active" id="{{ project.grouper|slugify }}-tab" data-toggle="tab" href="#{{ project.grouper|slugify }}"
                                        role="tab" aria-controls="{{ project.grouper|slugify }}" aria-selected="true">
                                    {% else %}
                                        <a id="{{ project.grouper|slugify }}-tab" data-toggle="tab" href="#{{ project.grouper|slugify }}"
                                        role="tab" aria-controls="{{ project.grouper|slugify }}" aria-selected="false">
                                    {% endif %}
                                        {{ project.grouper }}
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>

                    </div>
                        
                    <div class="portfolio_item tab-content" id="myTabContent">

                        {% for project_group in project_list %}
                            
                            {% if forloop.first %}
                            <div class="row align-items-center justify-content-between tab-pane fade show active"
                                id="{{ project_group.grouper|slugify }}" role="tabpanel" aria-labelledby="{{ project_group.grouper|slugify }}-tab">
                            {% else %}
                            <div class="row align-items-center justify-content-between tab-pane fade"
                                id="{{ project_group.grouper|slugify }}" role="tabpanel" aria-labelledby="{{ project_group.grouper|slugify }}-tab">
                            {% endif %}

                            
                            {% for premier_projet in project_group.list|slice:":1" %}
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                <div class="portfolio_box">
                                    <a href="{{ premier_projet.image.url }}" class="img-gal">
                                        <div class="single_portfolio">
                                            <img class="img-fluid w-100" src="{{ premier_projet.image.url }}" alt="">
                                        </div>
                                    </a>
                                    <div class="short_info">
                                        <p>new Project</p>
                                        <h4><a href="#">{{ premier_projet.titre }}</a></h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="col-lg-5 col-md-6">
                                <div class="row">
                                    {% for project_item in project_group.list|slice:"1:" %}
                                    <div class="col-lg-12 col-sm-6 col-md-12 single_portfolio_project">
                                        <div class="portfolio_box">
                                            <a href="{{ project_item.image.url }}" class="img-gal">
                                                <div class="single_portfolio">
                                                    <img class="img-fluid w-100" src="{{ project_item.image.url }}" alt="">
                                                </div>
                                            </a>
                                            <div class="short_info">
                                                <p>new Project</p>
                                                <h4><a href="#">{{ project_item.titre }}</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
