{% load static %}
{% load filtre_perso %}

   <section class="service_part section-padding">
      <div class="container">
         <div class="row justify-content-between align-items-center">
            <div class="col-lg-7 col-xl-6">
               <div class="section_tittle">
                  <h2>our <span>services</span></h2>
               </div>
               <div class="service_part_iner">
                  <div class="row">

                     {% for service in services %}
                        <div class="col-lg-6 col-sm-6">
                           <div class="single_service_text ">
                              <img src="{% static 'img/icon/service_1.svg' %}" alt="">
                              <h4>{{ service.nom }}</h4>
                              <p>{{ service.description }}</p>
                           </div>
                        </div>
                     {% endfor %}

                  </div>
               </div>
            </div>
            <div class="col-lg-4 col-sm-10">
               <div class="service_text">
                  <h2>{{ about.service_title|reformate }}</h2>
                  <p>{{ about.service_description }}</p>
                  <a href="service.html" class="btn_1">learn more</a>
               </div>
            </div>
         </div>
      </div>
   </section>