{% extends 'base/base.html' %}
{% load static %}

{% block content %}

   <!--::breadcrumb part start::-->
   <section class="breadcrumb blog_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>Apartment</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--::breadcrumb part start::-->

    <!--::project_gallery end::-->
    {% include "include/apartment_items.html" %}
    <!--::project_gallery end::-->

     <!--::project_gallery details start::-->
     <section class="gallery_details">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-lg-10">
                    <div class="project_img">
                        <img src="{{ apartment_detail.image.url }}" alt="">
                        <div class="project_gallery_hover_text">
                           <p>Home Apartment</p>
                           <h3>{{ apartment_detail.type_apart }}</h3>
                           <ul>
                              <li><a href=""><span class="flaticon-bath"></span></a> {{ apartment_detail.nombre_salle_bain }}</li>
                              <li><a href=""><span class="flaticon-bed"></span></a> {{ apartment_detail.nombre_chambre }}</li>
                              <li><a href=""><span class="flaticon-frame"></span></a> {{ apartment_detail.nombre_fenetre }} sqft</li>
                              <li><a href=""><span class="ti-heart"></span></a> like</li>
                           </ul>
                        </div>
                        {{ apartment_detail.description|linebreaks }}
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!--::project_gallery details start::-->

{% endblock %}
