{% extends 'base/base.html' %}
{% load static %}

{% block content %}

    <!--::breadcrumb part start::-->
    <section class="breadcrumb blog_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2> services </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::breadcrumb part start::-->
    
   <!--::service part start::-->
   {% include 'include/service_items.html' %}
   <!--::service part end::-->

    <!--::review_part start::-->
    {% include "include/temoignage_items.html" %}
    <!--::review_part end::-->

{% endblock %}
