{% extends 'base/base.html' %}

{% block content %}

   <!--::breadcrumb part start::-->
   <section class="breadcrumb blog_bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb_iner">
                  <div class="breadcrumb_iner_item">
                     <h2>about us</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--::breadcrumb part start::-->

   <!--::team part end::-->
   {% include "include/about_item.html" %}
   <!--::team part end::-->

   <!--::team part end::-->
   {% include "include/apartment_items.html" %}
   <!--::team part end::-->

   <!--::review_part start::-->
   {% include "include/temoignage_items.html" %}
   <!--::review_part end::-->

{% endblock %}
