{% extends 'base/base.html' %}
{% load static %}

{% block content %}

   <!--::banner part start::-->
   <section class="banner_part">
      <div class="container">
         <div class="row">
            <div class="col-lg-5 offset-lg-1 col-sm-8 offset-sm-2">
               <div class="banner_text aling-items-center">
                  <div class="banner_text_iner">
                     <h5>Dream</h5>
                     <h2>Proparties <br>
                        Now In City</h2>
                     <p>Lorem ipsum dolor sit consectetur adipiscing elit sed do
                        eiusmod tempor incididunt ut labore et dolore magna. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--::banner part end::-->

   <!--::team part end::-->
   {% include "include/about_item.html" %}
   <!--::team part end::-->

   <!--::project part start::-->
   {% include 'include/project_items.html' %}
   <!--::project part end::-->

   <!--::service part start::-->
   {% include 'include/service_items.html' %}
   <!--::service part end::-->

   <!--::team part start::-->
   {% include "include/apartment_items.html" %}
   <!--::team part end::-->

   <!--::blog_part start::-->
   <div class="blog_part padding_bottom">
      <div class="container">
         <div class="row">
            <div class="col-md-7 col-lg-5">
               <div class="blog_part_tittle">
                  <h2>our <span>blog</span> </h2>
               </div>
            </div>
         </div>
         <div class="row">

            {% for recent_apart_article in recent_apart_articles|slice:':1' %}
               <div class="col-lg-7">
                  <div class="single_blog">
                     <div class="appartment_img">
                        <img src="{{ recent_apart_article.image.url }}" alt="">
                     </div>
                     <div class="single_appartment_content">
                        <p><a href="#">{{ recent_apart_article.cathegorie.nom|upper }}</a> / {{ recent_apart_article.date_update|date:'F d, Y'|title }}</p>
                        <a href="{% url 'blog' %}">
                           <h4>{{ recent_apart_article.titre }}</h4>
                        </a>
                        <ul class="list-unstyled">
                           <li><a href=""> <span class="ti-comment"></span> </a> {{ recent_apart_article.article_commentaire.all|length }}
                            comment{{ recent_apart_article.article_commentaire.all|length|pluralize }}</li>
                           <li><a href=""> <span class="ti-heart"></span> </a> 0 like</li>
                        </ul>
                     </div>
                  </div>
               </div>
            {% endfor %}

            <div class="col-lg-5">
               <div class="right_single_blog">

                  {% for recent_apart_article in recent_apart_articles|slice:'1:' %}
                     <div class="single_blog">
                        <div class="media">
                           <div class="media-body align-self-center">
                              <p><a href="#">{{ recent_apart_article.cathegorie.nom|upper }}</a> / {{ recent_apart_article.date_update|date:'F d, Y'|title }}</p>
                              <a href="{% url 'single' recent_apart_article.id %}">
                                 <h5 class="mt-0">{{ recent_apart_article.titre }}</h5>
                              </a>
                              <ul class="list-unstyled">
                                 <li><a href=""> <span class="ti-time"></span> </a>{{ recent_apart_article.date_update|date:'l d'|title }}</li>
                                 <li><a href=""> <span class="ti-heart"></span> </a> 0 like</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  {% endfor %}

               </div>
            </div>
         </div>
      </div>
   </div>
   <!--::blog_part end::-->

{% endblock %}
