{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<!--::breadcrumb part start::-->
<section class="breadcrumb blog_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::breadcrumb part start::-->


<!--================Blog Area =================-->
<section class="blog_area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">

                    {% for article in articles %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ article.image.url }}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{ article.date_update|date:'d' }}</h3>
                                    <p>{{ article.date_update|date:'M' }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'single' article.id %}">
                                    <h2>{{ article.titre }}</h2>
                                </a>
                                <p>{{ article.description }}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="far fa-user"></i>{{ article.tag.all|join:', '|title }}</a></li>

                                    <li><a href="#"><i class="far fa-comments"></i>
                                     {{ article.article_commentaire.all|length }} 
                                     Comment{{ article.article_commentaire.all|length|pluralize }}</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    {% endfor %}
    
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">

                            {% if articles.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ articles.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}

                            {% for num in articles.paginator.page_range %}
                                {% if num == articles.number %}
                                    <li class="page-item">
                                        <a href="?page={{ num }}" class="page-link active">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if articles.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ articles.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>

                </div>
            </div>
            
            {% include "include/blog_aside_items.html" %}

        </div>
    </div>
</section>
<!--================Blog Area =================-->

{% endblock %}