{% extends 'base/base.html' %}
{% load static %}
{% load filtre_perso %}

{% block content %}

<!--::breadcrumb part start::-->
<section class="breadcrumb blog_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>blog details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::breadcrumb part start::-->

<!--================Blog Area =================-->
<section class="blog_area single-post-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{{ l_article.image.url }}" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>{{ l_article.titre }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> {{ l_article.tag.all|join:', '|title }}</a></li>
                            <li>
                                <a href="#">
                                    <i class="far fa-comments"></i>
                                    {{ article.article_commentaire.all|length }}
                                    Comment{{ article.article_commentaire.all|length|pluralize }}
                                </a>
                            </li>
                        </ul>
                        {{ l_article.contenu|linebreaks|reformate }}
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> Lily and 4
                            people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            {% for social in social_account %}
                                <li><a href="{{ social.lien }}"><i class="{{ social.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                {% if prev_article %}
                                  <div class="thumb">
                                      <a href="{% url 'single' prev_article.id %}">
                                          <img class="img-fluid" src="{{ prev_article.image.url }}" alt="">
                                      </a>
                                  </div>
                                  <div class="arrow">
                                      <a href="{% url 'single' prev_article.id %}">
                                          <span class="lnr text-white ti-arrow-left"></span>
                                      </a>
                                  </div>
                                  <div class="detials">
                                      <p>Prev Post</p>
                                      <a href="{% url 'single' prev_article.id %}">
                                          <h4>{{ prev_article.titre|truncatechars:20 }}</h4>
                                      </a>
                                  </div>
                                {% endif %}

                            </div>
                            <div
                                class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">

                                {% if next_article %}
                                  <div class="detials">
                                      <p>Next Post</p>
                                      <a href="{% url 'single' next_article.id %}">
                                          <h4>{{ next_article.titre|truncatechars:20 }}</h4>
                                      </a>
                                  </div>
                                  <div class="arrow">
                                      <a href="{% url 'single' next_article.id %}">
                                          <span class="lnr text-white ti-arrow-right"></span>
                                      </a>
                                  </div>
                                  <div class="thumb">
                                      <a href="{% url 'single' next_article.id %}">
                                          <img class="img-fluid" src="{{ next_article.image.url }}" alt="">
                                      </a>
                                  </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="{{ l_article.auteur.photo.url }}" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>{{ l_article.auteur.last_name }} {{ l_article.auteur.first_name }}</h4>
                            </a>
                            <p>{{ l_article.auteur.description }}</p>
                        </div>
                    </div>
                </div>
                {% if commentaires %}
                    <div class="comments-area">
                        <h4>{{ commentaires|length }} Comment{{ commentaires|length|pluralize }}</h4>

                        {% for commentaire in commentaires %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{{ commentaire.auteur.photo.url }}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">{{ commentaire.commentaire }}</p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">{{ commentaire.auteur.last_name }} {{ commentaire.auteur.first_name }}</a>
                                                    </h5>
                                                    <p class="date">{{ commentaire.date_update|date:'E j, Y à H:i' }}</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <a href="#commentForm" class="btn-reply text-uppercase">reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>Aucun Commentaire</h4>
                {% endif %}

                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" id="commentForm" method='POST'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100 placeholder hide-on-focus" name="comment"
                                        id="comment" cols="30" rows="9" placeholder="Write Comment" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            {% if user.is_authenticated %}
                                <button type="submit" class="button button-contactForm">Send Message</button>
                            {% else %}
                                <a href='{% url "login" %}'>
                                    <button type="button" class="button button-contactForm">Connectez vous içi</button>
                                </a>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>

            {% include "include/blog_aside_items.html" %}

        </div>
    </div>
</section>
<!--================Blog Area end =================-->

{% endblock %}
